body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #f4f4f7;
}

h1 {
  color: #fc766a;
  /* font-size: 13.0rem; */
  font-size: 12vw;
  font-weight: 200;
  font-variant: small-caps;
  letter-spacing: -0.45rem;
}

h4 {
  font-size: 2rem;
}

#last-name {
  font-weight: 700;
  color: #2c65a5;
  letter-spacing: -0.4rem;
  text-shadow: 4px 5px 10px #000000cf;
}

.display-3 {
  font-weight: 200;
}

.jumbotron {
  background: #33333322;
  background: linear-gradient(rgba(0, 0, 0, 0.05),
                              rgba(0, 0, 0, 0.9)), 
              url("../../header2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: #2d3541;
}

.navbar-fixed-top {
  height: 36px;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-brand img, .nav-link img  {
  height: 32px;
  width: 32px;
}

.app-title {
  font-size: 2.7rem;
  font-weight: 300;
  line-height: 1;
}

.img-container {
  width: 100%;
}

.btn-secondary {
  background-color: #6c759d;
}

.btn-secondary:hover {
  background-color: #5a6298;
  border-color: #545b92;
}

.btn-secondary.focus, .btn-secondary:focus{
  background-color: #545b92;
  border-color: #4e558b;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.push {
  height: 50px;
}

footer {
  background-color: #2d3541;
}

.footer-secondary {
  background: #dae6e9;
}

.row-tile-color {
  background-color: #aea6c753;
  border-radius: 15px;
}

.dropdown-menu, .dropdown-item {
  background-color: #dedbe8;
}

.dropdown-item, .dropdown-item:focus {
  background-color: #dedbe8;
}

.dropdown-item:hover {
  background-color: #837e94
}

@media (max-width: 996px) {
  h1 {
    font-size: 16vw;
  }
  .img-fluid {
    width: 75%;
  }
  .close {
    font-size: 2.5rem;
  }
  .modal-content {
    width: 95%;
  }
}