body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #f4f4f7;
}

h1#first-name {
  color: #fc766a;
  font-size: 12vw;
  font-weight: 200;
  font-variant: small-caps;
  letter-spacing: -0.45rem;
}

h4 {
  font-size: 2rem;
}


#last-name {
  font-weight: 700;
  color: #2c65a5df;
  letter-spacing: -0.4rem;
  text-shadow: 4px 5px 10px #000000cf;
}

#squeeze-buttons {
  margin-left: 10%;
  margin-right: 10%;
}

.scroll {
  text-align: center;
  color: #ddddddaa;
  font-size: 2rem;
}

.display-3 {
  font-weight: 200;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.05),
                              rgba(0, 0, 0, 0.9)), 
              url("../../imgs/headers/header-lilly-compressed.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* Begin bouncing chevron animation */
.arrow {
  margin: 20px 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* End bouncing chevron animation */

.navbar {
  background-color: #2d3541;
}

.navbar-fixed-top {
  height: 36px;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-brand img, .nav-link img  {
  height: 32px;
  width: 32px;
}

.app-title {
  font-size: 2.7rem;
  font-weight: 300;
  line-height: 1;
}

.img-container {
  width: 100%;
}

.large {
  font-size: 125%;
}

.btn-secondary {
  background-color: #6c759d;
  border-color: #6c759d;
}

.btn-secondary:hover {
  background-color: #5a6298;
  border-color: #545b92;
}

.btn-secondary.focus, .btn-secondary:focus{
  background-color: #545b92;
  border-color: #4e558b;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.push {
  height: 75px;
}

footer {
  background-color: #2d3541;
}

.footer-secondary {
  background: #dae6e9;
}

.row-tile-color {
  background-color: #dedbe8;
  border-radius: 15px;
}

.dropdown-menu, .dropdown-item {
  background-color: #dedbe8;
}

.dropdown-item, .dropdown-item:focus {
  background-color: #dedbe8;
}

.dropdown-item:hover {
  background-color: #837e94;
}

.dropdown-divider {
  border-top: 1px solid #7b7785;
}

.list-group .active, .list-group .active:hover {
  background-color: #8080a0;
  border-color: #8080a0;
  color: #fff
}

.list-group-item-action:hover {
  background-color: #c6c6d6;
}

.modal-header, .modal-footer {
  background-color: #939bbe;
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  h1#first-name {
    font-size: 16vw;
  }
  .scroll {
    font-size: 1.2rem;
  }
  .arrow {
    font-size: 1.9rem;
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}

/* Increase default bootstrap modal width */
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 65%;
  }
}