body {
  font-family: 'Raleway', sans-serif;
  background: #f4f4f7;
  padding-bottom: 25px;
}

h1 {
  color: #fc766a;
  font-size: 13.0rem;
  font-weight: 200;
  font-variant: small-caps;
  letter-spacing: -0.45rem;
}

h4 {
  font-size: 2rem;
}

#main-logo {
  width: 30%;
}

#last-name {
  font-weight: 700;
  /* font-size: 7.5rem; */
  /* color: #7d81a7cc; */
  color: #2b4766;
  letter-spacing: -0.4rem;
  text-shadow: 4px 5px 10px #000000cf;
}

.jumbotron {
  background: #33333322;
  background: url("../../header3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  /* -webkit-filter: blur(2px) grayscale(40%);
  filter: blur(2px) grayscale(40%); */

}

.navbar-fixed-top {height: 40px;}
.navbar-brand img {
  height: 40px;
  width: 40px;
}

.app-title {
  font-size: 2.7rem;
  font-weight: 300;
  line-height: 1;
}

.display-3 {
  font-weight: 200;
}

.img-container {
  width: 100%;
}

.btn-secondary {
  background-color: #6c759d;
}

.btn-secondary:hover {
  background-color: #5a6298;
  border-color: #545b92;
}

.btn-secondary.focus, .btn-secondary:focus{
  background-color: #545b92;
  border-color: #4e558b;
}

.row-tile-color {
  background-color: #aea6c753;
  border-radius: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000088;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 3.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 996px) {
  h1 {
    font-size: 4rem;
  }
  #main-logo {
    width: 90%;
  }
  .img-fluid {
    width: 75%;
  }
  .close {
    font-size: 2.5rem;
  }
  .modal-content {
    width: 95%;
  }
  #last-name {
    text-shadow: 1px 2px 5px #000000a0;
    font-size: 4.5rem;
  }
}